h3{ 
    text-transform:uppercase;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEFUH0m5wHnUBL3erCRMVBCS5B9XkOT2gxVA&s");
}

a{
    font-size: 16px;
    font-style: italic;
}

header{
    border-style: solid;
    background-color: aliceblue;
}

main{
    border-style: solid;
   background-color: aliceblue;
   height: 80%; 
   width: 70%;
   margin: 15px;
   padding: 10px;
   min-height: 600px;
}

footer{
    border-style: solid;
   background-color: aliceblue;
   margin: 50px;
   padding: 10px;
}

.job-title{
    font-weight: bold;
    color: maroon;
}

.large-list{
    font-size: 25px;
    font-weight: bold;
}

.large-list ul{
    font-size: 18px;
    font-weight: normal;
}

img{ 
    height: 200px;
    width: 200px;
    transition:1s;
    border-style: solid;
    border-width: 5px;
}

